:root{
    --color-primary:#2EB872;
    --color-primary-hover:#41d58b;
    --color-light:#f8f9fa;
    --color-dark:#343a40;
    --color-black:#192021;
}
/*
generales
*/
.subtitle{
    color: var(--color-primary);
}

/*Header*/
.carousel-item img{
    max-height: 90vh;
    object-fit: cover;
    object-position: center;
}

.navbar{
    position: absolute;
    width: 100%;
    z-index: 10;
    background-color: rgba(0,0,0,.6);
    backdrop-filter: blur(5px);
}

.carousel{
    margin-bottom: 20px;
}